.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.app-main {
  flex: 1;
  min-width: 0;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}